.diff-table .diff-add > .semi-table-row-cell {
  background-color: rgba(var(--semi-green-5), 0.3);
}
.diff-table .diff-add:hover > .semi-table-row-cell {
  background-color: rgba(var(--semi-green-5), 0.2);
}

.diff-table .diff-remove > .semi-table-row-cell {
  background-color: rgba(var(--semi-red-5), 0.3);
}
.diff-table .diff-remove:hover > .semi-table-row-cell {
  background-color: rgba(var(--semi-red-5), 0.2);
}

.diff-table .diff-high > .semi-table-row-cell {
  background-color: rgba(var(--semi-yellow-2), 0.2);
}
.diff-table .diff-high:hover > .semi-table-row-cell {
  background-color: rgba(var(--semi-yellow-2), 0.1);
}
